#div-lista {
    min-height: 500px;
}

.div-pessoa-item {
    min-height: 200px;
    margin: 10px 0px;
    padding: 0px 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: left;
    color: var(--cor01);
    border-radius: 8px;
    line-height: 25px;
}

.txtNome {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 0px;
}

.txtImc {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 0px;
}

.imgsit{
    width: 10px;
    height: 10px;
}

.btnOp {
    cursor: pointer;
    width: 15px;
    height: 15px;
    margin: 0px 10px;
}

.ax {
    border-left: 10px solid #cfa68b;
    border-bottom: 8px solid #cfa68b;
}

.n {
    border-left: 10px solid #09933e;
    border-bottom: 8px solid #09933e;

}

.sb {
    border-left: 10px solid #9a9331;
    border-bottom: 8px solid #9a9331;
    background-color: #ffe602;
}

.o1 {
    border-left: 10px solid #bb7272;
    border-bottom: 8px solid #bb7272;
}

.o2 {
    border-left: 10px solid #993939;
    border-bottom: 8px solid #993939;
}

.o3 {
    border-left: 10px solid #f66e6e;
    border-bottom: 8px solid #f66e6e;
    color: #ffffff;
    background-color: #000000;
}

