.div-pessoa-item {
    min-height: 80px;
    margin: 10px 0px;
    padding: 0px 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--cor01);
}

.div-pessoa-item {
    line-height: 25px;
}

.div-pessoa-item img {
    cursor: pointer;
    width: 12px;
    height: 12px;
    margin: 0px 10px;
}

.ax{
    background-color: #e4f317 ;
}

.n{
    background-color: #85b6f5 ;
}

.sb{
    background-color: #83810d;
}

.o1{
    background-color: #e99d9d;
}

.o2{
    color: #fffefe;
    background-color: #e45252;
}

.o3{
    color: #fffefe;
    background-color: #7c0f0f;
}
